extends ../layout

block content
  ul(data-role='listview')
    each section in sections
      li(data-role='fieldcontain')
        label(for=section.id): h3= section.initials
        input(type='range', name=section.id, id=section.id, data-highlight='true',
              value=scores[section.id] || 0, min='0', max='20')

block foot
  div(data-role='footer', data-position='fixed', data-theme='c')
    div(data-role='navbar'): ul
      li: a(href='#', data-theme='c'): h3 Avbryt
      li: a(href='#', data-theme='b'): h3 Spara
