extends ../layout

block content
  h3 hej

block foot
  div(data-role='footer', data-position='fixed', data-theme='d')
    div(data-role='navbar'): ul
      each competition in competitions
        li: a(href='/scores/' + competition.id): h3= competition.name
