gradient-bg(start, end)
    background start
    background-image -webkit-linear-gradient(start, end)
    background-image -moz-linear-gradient(start, end)

$shadow = 1px 2px 3px rgba(51,51,51,0.30)

html
body
.sequence
ul
li
    width 100%
    height 100%
    margin 0
    padding 0
    text-align center

.sequence
    ul

body
    color #eee
    gradient-bg(#0095d7, #00628c)
    text-shadow $shadow

.action
    font-size 2em
    word-wrap break-word
    height 100%
    display table
    div
        display table-cell
        vertical-align center
