div(data-role='footer', data-position='fixed', data-theme='d')
  div(data-role='navbar'): ul
    li: a(href=back, data-theme='d', data-direction='reverse'): h3 Avbryt
    li: a.submit-form(href='#', data-theme='b'): h3 Spara
