br
.ui-body: fieldset.ui-grid-a
  .ui-block-a: a(data-role='button', data-rel='back', data-theme='d') Avbryt
  .ui-block-b: button(type='submit', name='submit', value='submit-value', data-theme='a') Ta bort
