div(data-role='footer', data-position='fixed', data-theme='d')
  fieldset.ui-grid-a
    .ui-block-a: a(data-role='button', data-rel='back', data-theme='d', data-mini='false') Avbryt
    .ui-block-b: button(type='submit', name='submit', value='submit-value', data-theme='b', data-mini='false') Spara
