div(data-role="header", data-position="fixed", data-theme="d")
  h1= title
  if title !== 'Nollkampen'
    a(href=back, data-icon="arrow-l", data-iconpos="right", 
      data-theme="d", data-direction='reverse') Bakåt
    a(href="/", data-icon="arrow-d", data-iconpos="right", 
      data-theme="d", data-direction='reverse') Meny
