h1= title
if title !== 'Nollkampen'
  a(data-icon="arrow-l", data-iconpos="right", 
    data-theme="d", data-rel="back") Bakåt
  a(href="/", data-icon="arrow-d", data-iconpos="right", 
    data-theme="d") Meny
