.ui-corner-all(data-role='popup', id='delete' + competition.id)
  .ui-corner-top(data-role='header'): h1 Ta bort gren
  .ui-corner-bottom(data-role='content')
    h4 Vill du verkligen ta bort #{competition.name}?
    p Du kan inte ångra dig i efterhand.
    form(method='DELETE', action='/competitions/' + competition.id)
      include ../includes/form-controls-delete
