extends ../layout

block title
  h1 #{title} #{modelName.toLowerCase()}

block content
  form(method='POST', action=postTo, data-ajax='false')

    label(for="name") Namn:
    input(type="text", name="name", value=instance.name)

block footer
  include ../includes/form-controls
