extends ../layout

block content
  ul(data-role='listview', data-split-icon='delete', data-split-theme='c')
    each competition in competitions
      include item
  each competition in competitions
    include delete-dialog

block foot
  div(data-role='footer', data-position='fixed', data-theme='b')
    div(data-role='navbar', data-iconpos='right')
      ul: li: a(href='/competitions/new', data-icon='plus'): h3 Skapa ny gren
