extends ../layouts/layout

block content
  ul(data-role='listview', data-split-icon='delete', data-split-theme='a')
    li(data-theme='b', data-icon='plus'): a(href='/competitions/new'): h3 Skapa ny gren
    each competition in competitions
      include item
  each competition in competitions
    include delete-dialog
