.ui-corner-all(data-role='popup', id='delete' + section.id)
  .ui-corner-top(data-role='header'): h1 Ta bort sektion
  .ui-corner-bottom(data-role='content')
    h4 Vill du verkligen ta bort #{section.name}?
    p Du kan inte ångra dig i efterhand.
    form(method='POST', action='/sections/' + section.id + '/delete')
      include ../includes/form-controls-delete
