label(for="name") Namn:
input(type="text", name="name", value=section.name)
label(for="initials") Initialer:
input(type="text", name="initials", value=section.initials)
label(for="color") Sektionsfärg:
input.color-picker(type='text', name='color', value=section.color)
label(for="textColor") Textfärg:
input.color-picker(type='text', name='textColor', value=section.textColor)
label(for="textColor") Sektionshelgon:
input(type='file', name='saint', accept='image/*', data-role='button', data-theme='b')
