li: a(href='/sections/' + section.id)
  if section.saintImageUrl
    img(src=section.saintImageUrl)
  h3= section.initials
  p= section.name
  a(href='#delete' + section.id, data-rel='popup',
    data-position-to='window') Ta bort
