extends ../layout

block content
  ul(data-role='listview', data-split-icon='delete', data-split-theme='c')
    each section in sections
      include item
  each section in sections
    include delete-dialog

block footer
    div(data-role='navbar', data-iconpos='right')
      ul: li: a(href='/sections/new', data-icon='plus'): h3 Skapa ny sektion
