extends layout

block title
  h1= title

block content
  form(method='post', action=action, data-ajax='false')
    input(type='hidden', name='_method', value=method)

    label(for="name") Namn:
    input(type="text", name="attrs[name]", value=instance.name)

block footer
  include includes/form-controls
