extends layout

block content
  ul(data-role='listview')
    li(data-role='list-divider')
      span Visa p책 sk채rm
    li: a(href='#')
      span Sekvens
      img.ui-li-icon(src='/images/55-network.png')
    li: a(href='#') 
      span Bild
      img.ui-li-icon(src='/images/42-photos.png')
    li: a(href='#')
      span Text
      img.ui-li-icon(src='/images/09-chat-2.png')
    li(data-role='list-divider') Mata in resultat
    li: a(href='#') 
      span Tider
      img.ui-li-icon(src='/images/78-stopwatch.png')
    li: a(href='#') 
      span Po채ng
      img.ui-li-icon(src='/images/187-pencil.png')
    li(data-role='list-divider') Skapa och 채ndra
    li: a(href='/sections') 
      span Sektioner
      img.ui-li-icon(src='/images/112-group.png')
    li: a(href='/competitions') 
      span Grenar
      img.ui-li-icon(src='/images/63-runner.png')
    li: a(href='/ads') 
      span Annonser
      img.ui-li-icon(src='/images/124-bullhorn.png')
    li: a(href='#') 
      span Bilder
      img.ui-li-icon(src='/images/42-photos.png')
    li: a(href='#') 
      span Sekvenser
      img.ui-li-icon(src='/images/55-network.png')
