extends layout

block title
  h1 Nollkampen

block nav
  // No nav at top level

mixin item(ref, text, icon)
  li: a(href=ref)
    span= text
    img.ui-li-icon(src='/images/' + icon + '.png')

block content
  ul(data-role='listview')
    li(data-role='list-divider') Skärm
    mixin item('/sequences/show', 'Visa sekvens', '175-macbook')
    li(data-role='list-divider') Mata in resultat
    mixin item('/times', 'Tider', '78-stopwatch')
    mixin item('/scores', 'Poäng', '187-pencil')
    li(data-role='list-divider') Skapa och ändra
    mixin item('/sections', 'Sektioner', '112-group')
    mixin item('/competitions', 'Grenar', '63-runner')
    mixin item('/ads', 'Annonser', '124-bullhorn')
    mixin item('/pictures', 'Bilder', '42-photos')
    mixin item('/sequences', 'Sekvenser', '55-network')
