extends layout

block content
  ul(data-role='listview')
    li(data-role='list-divider')
      span Visa på skärm
    li: a(href='/sequences')
      span Sekvens
      img.ui-li-icon(src='/images/55-network.png')
    li
      span Nedräkning
      img.ui-li-icon(src='/images/55-network.png')
    li
      span Grenresultat
      img.ui-li-icon(src='/images/55-network.png')
    li
      span Totalresultat
      img.ui-li-icon(src='/images/55-network.png')
    li
      span Helbild
      img.ui-li-icon(src='/images/42-photos.png')
    li
      span Instickstext
      img.ui-li-icon(src='/images/09-chat-2.png')
    li
      span Insticksbild
      img.ui-li-icon(src='/images/09-chat-2.png')
    li(data-role='list-divider') Mata in resultat
    li: a(href='/times')
      span Tider
      img.ui-li-icon(src='/images/78-stopwatch.png')
    li: a(href='/scores') 
      span Poäng
      img.ui-li-icon(src='/images/187-pencil.png')
    li(data-role='list-divider') Skapa och ändra
    li: a(href='/sections') 
      span Sektioner
      img.ui-li-icon(src='/images/112-group.png')
    li: a(href='/competitions') 
      span Grenar
      img.ui-li-icon(src='/images/63-runner.png')
    li: a(href='/ads') 
      span Annonser
      img.ui-li-icon(src='/images/124-bullhorn.png')
    li: a(href='/pictures') 
      span Bilder
      img.ui-li-icon(src='/images/42-photos.png')
