doctype 5
html
  head
    title= title
    // Viewport
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    // Vendor stylesheets
    link(rel='stylesheet', href='/stylesheets/vendor/jquery.mobile-1.2.0-alpha.1.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/jquery.miniColors.css')
    // Vendor scripts
    script(src='/javascripts/vendor/jquery-1.7.2.min.js')
    script(src='/javascripts/mobileinit.js')
    script(src='/javascripts/vendor/jquery.mobile-1.2.0-alpha.1.min.js')
    script(src='/javascripts/vendor/jquery.miniColors.min.js')
    // App stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    // App scripts
    script(src='/javascripts/app.js')
  body
    div(data-role='page', id=id)
      div(data-role='header', data-position='fixed', data-theme='d', data-tap-toggle='false')
        include includes/head
        block head-nav
      div(data-role='content', id='content'): div(data-role='content-primary')
        block content
      block foot
