extends layout

block title
  h1 #{title} #{modelName.toLowerCase()}

block content
  form(method='POST', action=postTo, enctype='multipart/form-data', data-ajax='false')

    label(for='name') Namn:
    input(type='text', name='name', id='name', value=instance.name)

    label Bild:

    include includes/image-upload-form

block footer
  include includes/form-controls
