extends form

block controls
  label(for='name') Namn:
  input(type='text', name='attrs[name]', id='name', value=instance.name)

  label(for='caption') Bildtext:
  input(type='text', name='attrs[caption]', id='caption', value=instance.caption)

  label Bild:
  include includes/image-upload-form
