doctype 5
html
  head
    title Skärm
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/screen.css')
    // Vendor scripts
    script(src='/javascripts/vendor/jquery-1.8.0.min.js')
    script(src='/javascripts/vendor/jquery.easing.1.3.js')
    // App scripts
    script(src='/javascripts/countdown.js')
    script(src='/javascripts/screen-app.js')
  body
    #test
=======
    // Vendor scripts
    script(src='/javascripts/vendor/jquery-1.8.0.min.js')
    // App scripts
    script(src='/javascripts/screen-app.js')
  body
    div#test
>>>>>>> d094ccd799ae628d4882136728f1c6a76b51397d
