doctype 5
html
  head
    title Skärm
    // Vendor scripts
    script(src='/javascripts/vendor/jquery-1.8.0.min.js')
    // App scripts
    script(src='/javascripts/screen-app.js')
  body
    div#test
