doctype 5
html
  head
    title Skärm
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/scoreboard.css')
    link(rel='stylesheet', href='/stylesheets/countdown.css')
    link(rel='stylesheet', href='/stylesheets/throwdown.css')
    link(rel='stylesheet', href='/stylesheets/slideshow.css')
    // Vendor scripts
    script(src='/javascripts/vendor/underscore-min.js')
    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/jquery.easing.1.3.js')
    script(src='/javascripts/vendor/jquery.waitforimages.js')
    script(src='/javascripts/vendor/jquery.transit.js')
    script(src='/javascripts/vendor/handlebars.runtime-1.0.0.beta.6.js')
    script(src='/socket.io/socket.io.js')
    // App scripts
    script(src='/javascripts/utils.js')
    script(src='/javascripts/countdown.js')
    script(src='/javascripts/mega-countdown.js')
    script(src='/javascripts/scoreboard.js')
    script(src='/javascripts/reveal.js')
    script(src='/javascripts/throwdown.js')
    script(src='/javascripts/slideshow.js')
    script(src='/javascripts/screen.js')
    // Templates
    script(src='/templates.js')
  body
