doctype 5
html
  head
    title= sequence.name
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', href='/stylesheets/sequence.css')
    script(src='/javascripts/vendor/jquery-1.8.0.min.js')
    script(src='/javascripts/vendor/jquery.mobile.touchevents.js')
    script(src='/javascripts/vendor/swipe.min.js')
  body
    .sequence: ul
        each action in sequence.actions
          li: h1.action= action
script
  $(function () {
    var $sequence = $('.sequence');
    var $items = $('li');
    $items.hide();
    $items.first().css('display', 'block').show();
    var currPos;
    var sequenceSwipe = new Swipe($sequence[0], {
      callback: function () {
        if (sequenceSwipe.getPos() !== currPos) {
          if (navigator.mozVibrate) {
            navigator.mozVibrate([300, 100, 300]);
          } else if (navigator.vibrate) {
            navigator.vibrate([300, 100, 300]);
          }
        }
        currPos = sequenceSwipe.getPos();
      }
    });
    currPos = sequenceSwipe.getPos();
    $('body').bind('taphold', function () {
      if (navigator.mozVibrate) {
        navigator.mozVibrate(1000);
      } else if (navigator.vibrate) {
        navigator.vibrate(1000);
      }
      $.ajax({
        type: 'POST',
        url: '/screen',
        data: $('.action').eq(sequenceSwipe.getPos()).text()
      });
    });
  });
