doctype 5
html
  head
    title= sequence.name
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', href='/stylesheets/sequence.css')
    script(src='/javascripts/vendor/jquery-1.8.0.min.js')
    script(src='/javascripts/vendor/swipe.min.js')
    script(src='/javascripts/vendor/jquery.mobile.touchevents.js')
  body
    #sequence
      ul
        each action in sequence.actions
          li.action
            input(type='hidden', value=action)

script
  $(function () {

    // Insert formatted version of POST-params
    $('.action').each(function () {
      $(this).append(
        $(this).children('input').val().replace(/&/g, '<br><br>').replace(/=/g, ':<br>')
      );
    });

    // Apply Swipe plugin
    var currPos;
    var sequenceSwipe = new Swipe(document.getElementById('sequence'), {
      callback: function () {
        if (sequenceSwipe.getPos() !== currPos) {
          if (navigator.mozVibrate) {
            navigator.mozVibrate([200, 50, 200]);
          } else if (navigator.vibrate) {
            navigator.vibrate([200, 50, 200]);
          }
        }
        currPos = sequenceSwipe.getPos();
      }
    });
     
    // Get initial position
    currPos = sequenceSwipe.getPos();
    
    // Bind taphold to sending action
    $('body').bind('taphold', function () {
      if (navigator.mozVibrate) {
        navigator.mozVibrate(400);
      } else if (navigator.vibrate) {
        navigator.vibrate(400);
      }
      $.ajax({
        type: 'POST',
        url: '/screen',
        data: $('.action').eq(sequenceSwipe.getPos()).children('input').val()
      });
    });
  });
