.countdown
    height 8%
    position absolute
    bottom 0
    right 0
    background #333
    color #eee
    padding-left 1em
    padding-right 1em
    opacity 0.6
.cd-count
    height 100%
    width 100%
