// Ratio: Header // Content
$headerHeight = 6%
$contentHeight = 100% - $headerHeight

// Ratio: Ads || Results
$adsWidth = 20%
$resultsWidth = 100% - $adsWidth

// Ratio: Section || Result || Total
$sectionWidth = 20%
$resultWidth = 20%
$totalWidth = 20%

// Ratio: Empty || Result-row
$resultRowMargin = 3%
$resultRowWidth = 100% - $resultRowMargin

// Ratio: Empty // Result // Empty // Result
$resultRowsPerScreen = 5
$emptyRowHeight = 11%
$emptyRowsPerScreen = $resultRowsPerScreen + 1
$resultRowHeight = ((100% - 6 * $emptyRowHeight) / $resultRowsPerScreen)
//   (properly fill screen by adding extra height to result rows)
$resultRowHeight += 1%

// Ratio: Ad // Ad // Ad
$adsPerScreen = 3
$adHeight = (100% / $adsPerScreen)

// Top-level container
.sb
    width 100%
    height 100%

// Cols typically use full height of parent
sb-col(w, h = 100%)
    width w
    height h
    float left

// Rows typically use full width of parent
sb-row(h, w = 100%)
    width w
    height h

// Gradient mixin, webkit only
gradient-bg(start, end)
    background start
    background-image -webkit-linear-gradient(start, end)

// Header
.sb-header
    sb-row($headerHeight)
    gradient-bg(#0095d7, #00628c)
    color #eee
    text-shadow 0 1px 0 #333
    text-transform uppercase

// Content: Results || Ads
.sb-content
    sb-row($contentHeight)
    gradient-bg(#eee, #ccc)

// Results: Section || Result * 3 || Total
.sb-results-col
    sb-col($resultsWidth)
    .sb-section-col
        sb-col($sectionWidth)
    .sb-result-col
        sb-col($resultWidth)
    .sb-total-col
        sb-col($totalWidth)

// Ads use full column and stack vertically
.sb-ads-col
    sb-col($adsWidth)
    .sb-ad-row
        sb-row($adHeight)

// Make containers jQuery-scrollable
.sb-results-container
.sb-ads-container
    overflow hidden

// Center text vertically
.sb-text-wrapper
    display table
    .sb-text
        display table-cell
        float none
        text-align center
        vertical-align middle

// Position saint images
.sb-result-row
    .sb-section-col
        position relative
        img
            height 220%
            width auto
            position absolute
            bottom 0
            left 0

// Use full height for result row in header
.sb-header
    .sb-result-row
        height 100%

// Use calculated height for result row in content
.sb-content
    .sb-result-row
        height $resultRowHeight
        box-shadow 4px 2px 4px #888

// Create margin for result rows in header/content
.sb-result-row
    width $resultRowWidth
    margin-left $resultRowMargin

// Empty space between results
.sb-empty-row
    sb-row($emptyRowHeight)
    color #eee
