// Ratio: Header // Content
$headerHeight = 7%
$contentHeight = 100% - $headerHeight

// Ratio: Ads || Results
$adsWidth = 20%
$resultsWidth = 100% - $adsWidth

// Ratio: Section || Place || 3 * Result || Total
$sectionWidth = 20%
$placeWidth = 10%
$resultWidth = 20%
$totalWidth = 10%

// Ratio: Section || Place || Time || Score
$timeWidth = $scoreWidth = ((100% - $sectionWidth - $placeWidth) / 2)

// Ratio: Empty || Result-row
$resultRowMargin = 3%
$resultRowWidth = 100% - $resultRowMargin

// Ratio: Empty || Ad-row
$adRowMargin = 3%
$adRowWidth = 100% - 2 * $adRowMargin

// Ratio: Empty // Result // Empty // Result
$resultRowsPerScreen = 5
$emptyRowHeight = 11%
$emptyRowsPerScreen = $resultRowsPerScreen + 1
$resultRowHeight = ((100% - 6 * $emptyRowHeight) / $resultRowsPerScreen)
//   (properly fill screen by adding extra height to result rows)
$resultRowHeight += 1%

// Ratio: Ad // Ad // Ad
$adsPerScreen = 3
$adHeight = (100% / $adsPerScreen)

// Shadow color
$shadow = 1px 2px 3px rgba(51,51,51,0.66)
$textShadow = 1px 2px 3px rgba(30,30,30, 0.66)

// Top-level container
.scoreboard
    width 100%
    height 100%

// Cols typically use full height of parent
sb-col(w, h = 100%)
    width w
    height h
    float left

// Rows typically use full width of parent
sb-row(h, w = 100%)
    width w
    height h

// Gradient mixin, webkit only
gradient-bg(start, end)
    background start
    background-image -webkit-linear-gradient(start, end)

// Header
.sb-header
    sb-row($headerHeight)
    gradient-bg(#0095d7, #00628c)
    color #eee
    text-shadow $shadow
    text-transform uppercase
    box-shadow $shadow
    position relative
    z-index 10

// Content: Results || Ads
.sb-content
    sb-row($contentHeight)
    //gradient-bg(#eee, #ccc)
    gradient-bg(#0095d7, #00628c)

// Results: Section || Result * 3 || Total
.sb-results-col
    sb-col($resultsWidth)
    .sb-section-col
        sb-col($sectionWidth)
    .sb-place-col
        sb-col($placeWidth)
    .sb-result-col
        sb-col($resultWidth)
    .sb-total-col
        sb-col($totalWidth)
    .sb-time-col
        sb-col($timeWidth)
    .sb-score-col
        sb-col($scoreWidth)

// Ads use full column and stack vertically
.sb-ads-col
    sb-col($adsWidth)
    .sb-ad-row
        height 30%
        margin-top 8%
        margin-bottom 8%
        background-repeat no-repeat
        background-size contain
        background-position center

// Make containers jQuery-scrollable
.sb-results-container
.sb-ads-container
    overflow hidden

// Center text vertically
.sb-text-wrapper
    display table
    .sb-text
        display table-cell
        float none
        text-align center
        vertical-align middle
        text-shadow $textShadow

// Position saint images
.sb-result-row
    .sb-section-col
        position relative
        img
            height 220%
            width auto
            position absolute
            bottom 0
            left -5px

// Use full height for result row in header
.sb-header
    .sb-result-row
        height 100%

// Use calculated height for result row in content
.sb-content
    .sb-result-row
        height $resultRowHeight
        box-shadow $shadow

// Create margin for result rows in header/content
.sb-result-row
    width $resultRowWidth
    margin-left $resultRowMargin

.sb-ad-row
    width $adRowWidth
    margin-left $adRowMargin
    margin-right $adRowMargin

// Empty space between results
.sb-empty-row
    sb-row($emptyRowHeight)
    color #eee
