html
body
    width 100%
    height 100%
    margin 0
    padding 0
    border 0
    font-family "Franklin Gothic Demi"

.pane
    position absolute
    // Default position to be overridden
    top 0
    left 0

.background
    width 100%
    height 100%
    z-index 0
    background #ccc
