gradient-bg(start, end)
    background start
    background-image -webkit-linear-gradient(start, end)

html
body
    width 100%
    height 100%
    margin 0
    padding 0
    border 0
    font-family "Franklin Gothic Demi"
    overflow hidden

.pane
    position absolute
    overflow hidden

.background
    width 100%
    height 100%
    z-index 0
    gradient-bg(#0095d7, #00628c)
