span.section-initials {
  padding: 0.5em;
  display: inline-block;
  border-radius: 1em;
  font-weight: bold;
  text-shadow: none;
  box-shadow: 0.1em 0.1em 0.2em 0.1em #333;
}
.image-preview-form {
  max-width: 100%;
}
.miniColors-trigger {
  display: none;
}
.color-picker.ui-overlay-c {
  text-shadow: none;
}
.ui-slider-switch {
  width: 200px;
}
.results-table thead th {
  font-size: 12px;
}
.results-table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  font-weight: normal;
}
.results-table-header {
  padding-top: 0;
  padding-bottom: 0;
}
