.throwdown
    top 0
    left 0
    width 100%
    height 100%

.td-picture
    position absolute
    left 0
    top 0
    padding 10px 10px 100px 10px
    background #eee
    border 1px solid #fff
    box-shadow 0 2px 15px #333
    img
        height 90%
        width auto
