extends ../layout

block head-nav
  table.results-table.results-table-header.ui-body-a.ui-content
    thead
      th Sektion
      each competition in competitions
        th= competition.name

block content
  ul(data-role='listview') 
    each section in sections
      li: table.results-table: tr: td 
        span.section-initials(style='background: ' + section.color + '; color: ' + section.textColor)= section.initials
          each competition in competitions
            td= times[competition.id][section.id] || ' '

block foot
  div(data-role='footer', data-position='fixed')
    div(data-role='navbar'): ul
      each competition in competitions
        li: a(href='/times/' + competition.id, data-theme='b'): h3
          small Mata in tider för
          br
          = competition.name
