<div class="sb-results-col">
  <div class="sb-result-row sb-text-wrapper">
    <div class="sb-section-col sb-text"></div>
    <div class="sb-place-col sb-text"></div>
    <div class="sb-time-col sb-text">Tid</div>
    <div class="sb-score-col sb-text">Poäng</div>
  </div>
</div>
