<div id="sb-header">
  <div id="sb-header-results">
  </div>
  <div id="sb-header-ads">
    Sponsorer
  </div>
</div>
<div id="sb-content">
  <div id="sb-content-results"></div>
  <div id="sb-content-ads"></div>
</div>
