<div id="sb-header">
  <div id="sb-results-header">
  </div>
  <div id="sb-ads-header">
    Sponsorer
  </div>
</div>
<div id="sb-content">
  <div id="sb-results"></div>
  <div id="sb-ads"></div>
</div>
