<div class="sb-col sb-results-col">
  <div class="sb-row sb-header-results-row sb-cell-wrapper">
    <div class="sb-col sb-section-col sb-cell">Sektion</div>
    {{#each competitions}}
    <div class="sb-col sb-result-col sb-cell">{{name}}</div>
    {{/each}}
    <div class="sb-col sb-total-col sb-cell">Totalt</div>
  </div>
</div>

<div class="sb-col sb-ads-col sb-cell-wrapper">
  <div class="sb-row sb-cell">
    Sponsorer
  </div>
</div>
