{{#each sections}}
<div class="sb-row sb-empty-row">_</div>
<div style="background: {{color}}; color: {{textColor}};" class="sb-row sb-section-row sb-cell-wrapper">
  <div class="sb-col sb-section-col sb-cell">
    <img src="{{saint}}">
  </div>
  {{#each results}}
  <div class="sb-col sb-result-col sb-cell">
    {{time}}
  </div>
  {{/each}}
  <div class="sb-col sb-total-col sb-cell">
    0
  </div>
</div>
{{/each}}
<div class="sb-row sb-empty-row">_</div>
