extends ../layout

block content
  form(method='POST', action='/pictures/' + picture.id + '/update', enctype='multipart/form-data', data-ajax='false')
    include form
    include ../includes/form-controls
