label(for='name') Namn:
input(type='text', name='name', id='name', value=ad.name)

label Annonsbild:

input(type='radio', name='uploadImage', id='upload-image-radio', value='true', checked='checked')
label(for='upload-image-radio') Ladda upp ny bild
input(type='file', name='image', id='image-file', accept='image/*')

if ad.imageUrl
  input(type='radio', name='uploadImage', id='keep-image-radio', value='false', checked='checked')
  label(for='keep-image-radio') Behåll existerande bild
  img.image-preview-form(src=ad.imageUrl)
