extends ../layout

block content
  ul(data-role='listview', data-split-icon='delete', data-split-theme='c')
    each ad in ads
      include item
  each ad in ads
    include delete-dialog

block foot
  div(data-role='footer', data-position='fixed', data-theme='b')
    div(data-role='navbar', data-iconpos='right')
      ul: li: a(href='/ads/new', data-icon='plus'): h3 Skapa ny annons
